#hover_alert {
    color:rgb(255, 0, 0);
    font-size: 60px;
}

#hover_alert:hover {
    font-weight: bold;
    text-decoration: underline;

}

#css_bold {
    color: rgb(0, 255, 0);
    font-size: 20px;
}

#css_bold:hover {
    font-weight: bold;
    text-decoration: underline;
}

#change_color {
    color: rgb(0, 0, 255);
    font-size: 120px;
}

#change_color:hover {
    font-weight: bold;
    text-decoration: underline;
}